.img_bg {
    background-image: url("../assets/images/arm-chair-01.jpg");
    background-size: 100vw; 
    float: left;
    height: 100vw;
    width: 100vw;
    position: relative;
    z-index: 2;
}


.text_part {
    position: absolute;
    top: 50%;
    left: 25%;
    z-index: 5;
}



